################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomersReestr/v15/Server/sqlite3
/CustomersReestr/bin/Debug
/CustomersReestr/obj/Release
